.error {
    padding: 15px;
}
.error span{
    color: red;
    font-size: 30px;
}
.search-panel {
    
}
.search-panel input{
    max-width: 250px;
    display: inline-block;
}
.status {
    font-size:35px;
    color: #f00;
}